@model IEnumerable<Service>
<!-- do section -->
<section class="do_section layout_padding">
    <div class="container">
        <div class="heading_container">
            <h2>
                What we do
            </h2>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
                magna
            </p>
        </div>
        <div class="do_container">
            @foreach (var item in Model)
            {

                <div class="box arrow-start">
                    <div class="img-box">
                        <img src="~/images/@item.Image" alt="">
                    </div>
                    <div class="detail-box">
                        <h6>
                            @item.Name
                        </h6>
                    </div>
                </div>
            }

        </div>
    </div>
</section>

<!-- end do section -->